html, body{
    height: 100% !important;

}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    
}



.nav-bar{
    background-color: #1f1031;
}
.text-bdark{
    color: #173033 !important;
}
.btn-success{
    
    background: linear-gradient(90deg, #592769, #9770cb);
    border: none !important;
}

.btn-success:hover{
    background-color: #173033b0;
    border: 2px #173033b0 solid;
    color: #173033 !important;
}

.btn-success:active,
.btn-success:focus{
    background-color: #173033 !important;
    border: 2px #173033 solid !important;
    color: white !important;
    box-shadow: none !important;
}

.btn-success a{
    text-decoration: none;
}
.btn-success a:hover{
    color: #173033 !important;
}

.title-box{
    background-color: #040104a8;
    padding: 20px;
    border-radius: 20px;
    height: 490px;
}

/* backgroun-color */

.bg-dark1{
   background-color: #1f1031;
}
.bg-light1{
    background-color: #e6d7eb;
}

.form-control:focus, .form-control:active{
    border-color: #1f1031;
    box-shadow: 0 0 0 0.2rem rgba(72, 45, 116, 0.25) !important;
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover, 
.form-control:-webkit-autofill:focus, 
.form-control:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
   box-shadow: 0 0 0 0.2rem rgba(72, 45, 116, 0.25) !important;
    -webkit-text-fill-color: white !important; 
    transition: background-color 5000s ease-in-out 0s;
}
input, textarea, select{
    background-color: rgba(44, 37, 54, 100%) !important;
    border-radius: 20px !important;
    border: #1f1031 !important;
    color: white !important;
}
.alreadylog a{
    text-decoration: none !important;
    color: #556466ef;
}
#name{
    background-image: url(images/User.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
}
#email{
    background-image: url(images/Secured\ Letter.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
}
#password{
    background-image: url(images/Privacy.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
}
.bgpurple{
    background-color: #592769;
}

.images img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.selectedImg{
    border: 2px solid #ab47bc;
}
.images img:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition: 1s;
}